[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
fastapi = "*"
uvicorn = "*"
streamlit = "*"
langgraph = "*"
langchain-groq = "*"
langchain-openai = "*"
langchain = "*"
community = "*"
langchain-tavily = "*"

[dev-packages]

[requires]
python_version = "3.9"
